.jumbotron-link {
  text-decoration: none;
  color: aliceblue;
}

.jumbotron-link:hover {
  text-decoration: none;
  color: aliceblue;
}

.link-items {
  text-decoration: none;
  color: aliceblue;
  margin-left: 20px;
}

.link-items:hover {
  text-decoration: none;
  color: rgb(2, 149, 240);
  margin-left: 20px;
}

.center-btn {
  width: 200px;
  margin: auto;
}

thead.thead-dark > tr * {
  background-color: #343a40 !important;
}

.monitor-btn {
  border: 1px solid #343a40;
  color: #343a40;
  margin-right: 2px;
  width: 70px;
}

.monitor-btn:hover {
  background-color: #343a40;
}

.input-form {
  padding: 20px;
}

.display-people {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.display-metadata {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
